.backdrop {
	position: fixed;
	inset: 0;
	width: 100vw;
	height: 100vh;
	background-color: hsl(0 0% 0% / 0.8);
	animation: backdrop 159ms ease-out forwards;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	animation: modal 250ms ease;
	scale: 1;
	transition: scale 0 250ms;
}
@keyframes modal {
	0% {
		scale: 0;
	}
	100% {
		scale: 1;
	}
}
@keyframes backdrop {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
